@model BussinessEntites.AdminEntites
@{
    ViewBag.Title = "Admin";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Admin.css" rel="stylesheet" />
<h2>Admin</h2>
@using (Html.BeginForm("RegisterUser", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{

    <a href="RegisterUser">
        <div class="col-sm-4">
            <h2><label>REGISTERED-USERS</label></h2>
            @Html.DisplayFor(x => x.RegisterUsers)
        </div>
    </a>

}

@using (Html.BeginForm("RegistredCompines", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{

    <a href="RegistredCompines">
        <div class="col-sm-4">
            <h2><label>REGISTERED-COMPINES</label></h2>
            @Html.DisplayFor(x => x.RegisterCompines)
        </div>
    </a>

}
@using (Html.BeginForm("PLacedApplicants", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{

    <a href="PLacedApplicants">
        <div class="col-sm-4">
            <h2><label>PLACED-APPLICANTS</label></h2>
            @Html.DisplayFor(x => x.gotplaced)
        </div>
    </a>

}
@using (Html.BeginForm("JanuaryMonthApplieds", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{

    <a href="JanuaryMonthApplieds">
        <div class="col-sm-4">
            <h2><label>PLACED IN THE MONTH JANUARY</label></h2>
            @Html.DisplayFor(x => x.reqmonth)
        </div>
    </a>

}
@using (Html.BeginForm("TotalApplied", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{

    <a href="TotalApplied">
        <div class="col-sm-4">
            <h2><label>APPLIED-USERS</label></h2>
            @Html.DisplayFor(x => x.usersapplied)
        </div>
    </a>

}
@using (Html.BeginForm("NewRequirment", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{

    <a href="NewRequirment">
        <div class="col-sm-4">
            <h2><label>NEW JOBS-REQUIRMENT</label></h2>
            @Html.DisplayFor(x => x.newrequirment)
        </div>
    </a>

}





