@model IPagedList<BussinessEntites.JobPostingEntites>
@{
    ViewBag.Title = "Appliedjobs";
    Layout = "~/Views/Shared/Applicant.cshtml";
}
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Appliedjobs</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().JobName)
            </th>
            <td>
                @Html.DisplayFor(model => item.JobName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().JobType)
            </th>
            <td>
                @Html.DisplayFor(model => item.JobType)
            </td>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().JobDescription)
            </th>
            <td>
                @Html.DisplayFor(model => item.JobDescription)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Salary)
            </th>
            <td>
                @Html.DisplayFor(model => item.Salary)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Location)
            </th>
            <td>
                @Html.DisplayFor(model => item.Location)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().CompanyId)
            </th>
            <td>
                @Html.DisplayFor(model => item.CompanyId)
            </td>
        </tr>
      
        <tr><th> <a href="CandidateClick?jobid=@item.JobId">Apply</a></th></tr>

        <hr />
        }
    </table>
<div>

    @Html.PagedListPager(Model, Page => Url.Action("Appliedjobs", "Home", new { Page, Search = Request.QueryString["Search"] }))
    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@

</div>