
@model BussinessEntites.CompanyPortalEntites

@{
    Layout = null;
    <link href="~/Content/companyregistration.css" rel="stylesheet" />
}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<title>company</title>
<center><h1 style="color:blueviolet">Company Registration</h1></center>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

    <div>
        <form action="company" method="post" enctype="multipart/form-data">
            <div class="form-group">




                <div style="background-color:#41aaa2; height:400px; width:400px; border-radius:30px; text-align:center;" class="col-md-offset-4">
                    <h1 style="text-align:center; padding-top:30px; color:#ffffff;">Sign Up</h1>

                    <div class="col-sm-12" style="padding-top:10px;">
                        <input placeholder="CompanyName" @Html.TextBoxFor(c => c.CompanyName, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="col-sm-12" style="padding-top:10px;">
                        <input placeholder="Password" @Html.PasswordFor(c => c.Password, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="col-sm-12" style="padding-top:10px;">
                        <input placeholder="CompanyDesc" @Html.TextBoxFor(c => c.CompanyDesc, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="col-sm-12" style="padding-top:10px;">
                        <input placeholder="Email" @Html.TextBoxFor(c => c.Email, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="col-sm-12" style="padding-top:10px;">
                        <input placeholder="Location" @Html.TextBoxFor(c => c.Location, new { @class = "form-control", required = "required" })<br />
                    </div>
                    <div class="editor-label" style="padding-top:10px" ;>
                        <input type="file" name="Logo" />
                    </div>
                    <div class="col-sm-12" style="padding-top:10px;">
                        <input type="submit" class="btn btn-primary" value="SUBMIT" />
                    </div>
                </div>




            </div>
        </form>
    </div>
    <center><h2 style="color:red">@ViewData["status"]</h2></center>



</body>
</html>

