@model IPagedList<BussinessEntites.JobPostingEntites>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Applicant.cshtml";
    
}
@using PagedList.Mvc;
@using PagedList;

<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        <label> Search Job Type</label>
        <input type="text" name="Search" placeholder="Enter Job Sector" />
        <input type="submit" value="Submit" />

    }
</p>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(model => item.JobType)
            <td>
                @Html.DisplayFor(model => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(model => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(model => item.Location)
            </td>
            <td>
                @Html.DisplayFor(model => item.CompanyId)
            </td>
        </tr>
        using (Html.BeginForm("CandidateClick", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
        {

            <tr><td> <a href="CandidateClick?jobid=@item.JobId">Apply</a></td></tr>

        }
    }
</table>
<div>

    @Html.PagedListPager(Model, Page => Url.Action("Index", "Home", new { Page, Search = Request.QueryString["Search"] }))
    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@

</div>
