@model IPagedList<BussinessEntites.JobPostingEntites>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Applicant.cshtml";
    <link href="~/Content/Site.css" rel="stylesheet" />
}
@using PagedList.Mvc;
@using PagedList;

<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        <label> Search Job Type</label>
        <input type="text" name="Search" placeholder="Enter Job Sector" />
        <input type="submit" value="Submit" />

    }
</p>
<table>
    @foreach (var item in Model)
    {
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().JobName)
        </th>
        <td>
        @Html.DisplayFor(model => item.JobName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().JobType)
        </th>
        <td>
            @Html.DisplayFor(model => item.JobType)
        </td>
        </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().JobDescription)
        </th>
        <td>
            @Html.DisplayFor(model => item.JobDescription)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Salary)
        </th>
        <td>
            @Html.DisplayFor(model => item.Salary)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Location)
        </th>
        <td>
            @Html.DisplayFor(model => item.Location)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().CompanyId)
        </th>
        <td>
            @Html.DisplayFor(model => item.CompanyId)
        </td>
    </tr>


    <tr> <th><a href="CandidateClick?jobid=@item.JobId">Apply</a></th></tr>
    
    }
</table>
<div>

    @Html.PagedListPager(Model, Page => Url.Action("Index", "Home", new { Page, Search = Request.QueryString["Search"] }))
    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@

</div>
