@model IPagedList<BussinessEntites.JobPostingEntites>
@{
    ViewBag.Title = "Home Page";
}
@using PagedList.Mvc;
@using PagedList;

<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        <label> Search Job Type</label>
        <input type="text" name="Search" placeholder="Enter Job Sector" />
        <input type="submit" value="Submit" />
    }
</p>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h1> @Html.DisplayFor(model => item.JobName)</h1>
            </td>
            <td>

                <h3> @Html.DisplayFor(model => item.JobType)</h3>
            </td>
            <td>
                @Html.DisplayFor(model => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(model => item.JobDescription)
            </td>
        </tr>
        using (Html.BeginForm("CandidateClick", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
        {

            <tr><td> <a href="CandidateClick?jobid=@item.JobId">Apply</a></td></tr>

        }
    }
</table>
<div>

    @Html.PagedListPager(Model, i => Url.Action("Index", "Home", new { i, Search = Request.QueryString["Search"] }))

</div>
