@model IPagedList<BussinessEntites.JobPostingEntites>
@{
    ViewBag.Title = "JanuaryMonthApplieds";
}
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>JanuaryMonthApplieds</h2>
<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            <h1> @Html.DisplayFor(model => item.JobName)</h1>
        </td>
        <td>
            @Html.DisplayFor(model => item.JobType)
        </td>
        <td>
            @Html.DisplayFor(model => item.CompanyId)
        </td>
        <td>
            @Html.DisplayFor(model => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(model => item.Location)
        </td>
        <td>
            @Html.DisplayFor(model => item.CandidateReq)
        </td>
        <td>
            @Html.DisplayFor(model => item.PostedDate)
        </td>
        <td>
            @Html.DisplayFor(model => item.LastDate)
        </td>
    </tr>

    }
</table>
<div>

    
    @Html.PagedListPager(Model, page => Url.Action("JanuaryMonthApplieds", new { page }))
</div>
