@model BussinessEntites.LoginEntites
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="form-group"><label class="col-md-2 control-label" style="color:forestgreen" id="i">Login</label></div>
                <div class="form-group">
                    @Html.LabelFor(c => c.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">

                        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.Email)
                    </div>
                </div>
                                <div class="form-group">
                                    @Html.LabelFor(c => c.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(c => c.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Password)
                                    </div>
                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <input type="submit" class="btn btn-primary" value="LOGIN" style="align-content:center" />
                                                    </div>
                                                </div>
                                                                <div style="color:Red" class="col-md-2 control">
                                                                    @ViewData["err"]
                                                                </div>
}
                   