@model BussinessEntites.NewRequirmentEntites
@{
    ViewBag.Title = "Newreq";
    Layout = "~/Views/Shared/CompanyView.cshtml";
}
<style>
    body {
        background-image: url('../../images/candidate.png');
    }

</style>
<center><h2>New Requirments</h2></center>

@using (Html.BeginForm("Newreq", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="form-group">
        <lable class="col-md-2 control-label"> EmployeeId</lable>
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.EmployeeId, new { @class = "form-control", required = "required" })

        </div>
    </div>
    <div class="form-group">
        <lable class="col-md-2 control-label"> CompanyId</lable>
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.CompanyId, new { @class = "form-control", required = "required" })

        </div>
    </div>
    <div class="form-group">
        <lable class="col-md-2 control-label"> Job Type</lable>
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.jobtype, new { @class = "form-control", required = "required" })

        </div>
    </div>
    <div class="form-group">
        <lable class="col-md-2 control-label"> Job Name</lable>
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.JobName, new { @class = "form-control", required = "required" })

        </div>
    </div>
    <div class="form-group">
        <lable class="col-md-2 control-label"> Job description</lable>
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.JobDesc, new { @class = "form-control" , required = "required" })

        </div>
    </div>
    <div class="form-group">
        <lable class="col-md-2 control-label">Salary</lable>
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Salary, new { @class = "form-control" , required = "required", manlength = "10000000", minlength = "10000" })

        </div>
    </div>
    <div class="form-group">
        <lable class="col-md-2 control-label"> Location</lable>
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Location, new { @class = "form-control", required = "required" })

        </div>
    </div>
    <div class="form-group">
        <lable class="col-md-2 control-label">ApplyDate</lable>
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.PostedDate, new { @class = "form-control",@type="date" , required = "required" ,min = "2021-01-19", max = "2021-04-01" })

        </div>
    </div>
    <div class="form-group">
        <lable class="col-md-2 control-label">LastDate</lable>
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.LastDate, new { @class = "form-control", @type = "date" })

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="SUBMIT" />
        </div>
    </div>

}
@ViewData["a"]
