@model IPagedList<BussinessEntites.NewRequirmentEntites>
@{
    ViewBag.Title = "NewRequirment";
}
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>NewRequirment</h2>
<table>
    @foreach (var item in Model)
    {
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().JobName)
            </th>
            <td>
                 @Html.DisplayFor(model => item.JobName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().jobtype)
            </th>
            <td>
                @Html.DisplayFor(model => item.jobtype)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().CompanyId)
            </th>
            <td>
                @Html.DisplayFor(model => item.CompanyId)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().JobDesc)
            </th>
            <td>
                @Html.DisplayFor(model => item.JobDesc)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Location)
            </th>
            <td>
                @Html.DisplayFor(model => item.Location)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().candidatereq)
            </th>
            <td>
                @Html.DisplayFor(model => item.candidatereq)
            </td>
        </tr>
       
            <tr><th> <a href="PostApprove?Requirmentid=@item.Requirmentid">Approve</a></th>

        
       
            <th> <a href="PostReject?Requirmentid=@item.Requirmentid">Reject</a></th></tr>
        

    }
</table>
<div>

    @Html.PagedListPager(Model, page => Url.Action("NewRequirment", new { page }))


</div>
