@model BussinessEntites.JobApplicantEntites
@{
    ViewBag.Title = "ApplicantRegister";
}

<h2>ApplicantRegister</h2>

<form action="openAcc" method="post" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label> Name </label>  @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label> Password </label>  @Html.PasswordFor(c => c.Password, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label> Phone </label>   @Html.TextBoxFor(c => c.Phone, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label> Date Of Birth </label>   @Html.TextBoxFor(c => c.Dob, new { @class = "form-control", @type = "date" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        Male
                                        @Html.RadioButtonFor(model => model.Gender, true)
                                        Female
                                        @Html.RadioButtonFor(model => model.Gender, false)
                                    </div>
                                </div>
                        
                                <div class="form-group">
                                    <label> Email </label>   @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label> University Name </label>  @Html.TextBoxFor(c => c.UniversityName, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label> Location </label>   @Html.TextBoxFor(c => c.Location, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label> JobType </label>  @Html.TextBoxFor(c => c.JobType, new { @class = "form-control" })
                                </div>
                                <div>
                                    <label>upload your resume</label>
                                    <div class="editor-label">
                                        <input type="file" name="resume" />
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="SUBMIT" />
                                </div>
</form>
@ViewData["status"]