@model BussinessEntites.JobApplicantEntites
@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/Applicant.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>profile</h2>

<>
          
            <tr>
              <lable>Id</lable>
              @Html.DisplayFor(model => model.CandidateId)
            </tr>
            <tr>
                <lable>Name</lable>
                @Html.DisplayFor(model => model.Name)
            </tr>
            <tr>
                <lable>Date of Birth</lable>
                @Html.DisplayFor(model => model.Dob)
            </tr>
            <tr>
                <lable>Phone</lable>
                @Html.DisplayFor(model => model.Phone)
            </tr>
            <tr>
                <lable>Email</lable>
                @Html.DisplayFor(model => model.Email)
            </tr>
            <tr>
                <lable>Gender</lable>
                @Html.DisplayFor(model => model.Gender)
            </tr>
            <tr>
                <lable>UniversityNme</lable>
                @Html.DisplayFor(model => model.UniversityName)
            </tr>
            <tr>
                <lable>Location</lable>
                @Html.DisplayFor(model => model.Location)
            </tr>
        
    </table>