@model IPagedList < BussinessEntites.CompanyPortalEntites>
@{
    ViewBag.Title = "RegistredCompines";
}
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>RegistredCompines</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h1> @Html.DisplayFor(model => item.CompanyId)</h1>
            </td>
            <td>
                @Html.DisplayFor(model => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(model => item.CompanyDesc)
            </td>
            <td>
                @Html.DisplayFor(model => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(model => item.Location)
            </td>
        </tr>

    }
</table>
<div>

    @Html.PagedListPager(Model, page => Url.Action("RegisteredCompines", new { page }))
</div>
