@model IPagedList<BussinessEntites.RejectedEntites>
@{
    ViewBag.Title = "Rejectedpost";
    Layout = "~/Views/Shared/CompanyView.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />

@using PagedList.Mvc;
@using PagedList;
<h2>Rejectedpost</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().jobName)
            </th>
            <td>
                @Html.DisplayFor(model => item.jobName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().jobtype)
            </th>
            <td>
                @Html.DisplayFor(model => item.jobtype)
            </td>
            </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().CompanyDesc)
            </th>
            <td>
                @Html.DisplayFor(model => item.CompanyDesc)
            </td>
        </tr>
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Location)
            </th>
            <td>
                @Html.DisplayFor(model => item.Location)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().CompanyId)
            </th>
            <td>
                @Html.DisplayFor(model => item.CompanyId)
            </td>
        </tr>


        }
    </table>
<div>

    @Html.PagedListPager(Model, Page => Url.Action("Rejectedpost", "Home", new { Page }))
    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@

</div>
