@model IPagedList<BussinessEntites.JobApplicantEntites>
@{
    ViewBag.Title = "SelectedCandidates";
    Layout = "~/Views/Shared/CompanyView.cshtml";
}
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>SelectedCandidates</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().CandidateId)
            </th>

            <td>
                @Html.DisplayFor(model => item.CandidateId)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Dob)
            </th>
            <td>
                @Html.DisplayFor(model => item.Dob)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Phone)
            </th>
            <td>
                @Html.DisplayFor(model => item.Phone)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <td>
                @Html.DisplayFor(model => item.Email)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().UniversityName)
            </th>
            <td>
                @Html.DisplayFor(model => item.UniversityName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Location)
            </th>
            <td>
                @Html.DisplayFor(model => item.Location)
            </td>
        </tr>

    }
</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("SelectedCandidates", new { page }))

</div>


