@model IPagedList<BussinessEntites.JobApplicantEntites>
@{
    ViewBag.Title = "TotalApplied";
}
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>TotalApplied</h2>
<form method="get">
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h1> @Html.DisplayFor(model => item.CandidateId)</h1>
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Dob)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(model => item.UniversityName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Location)
                </td>
            </tr>
            <tr><td> <a href="Viewresume?CandidateId=@item.CandidateId">Showresume</a></td></tr>
            <tr>
                <td> <a href="Gmail?CandidateId=@item.CandidateId">Approve</a></td>


                <td> <a href="PostReject?Requirmentid=@item.CandidateId">Reject</a></td>
            </tr>



        }
    </table>
</form>
<div>
    @Html.PagedListPager(Model, page => Url.Action("TotalApplied","Home", new { page }))
</div>

